/*!
 * Issue Tracker
 *
 */
html,body {
	height: 100%;
}

footer {
	color: #666;
	background: #222;
	padding: 17px 0 18px 0;
	border-top: 1px solid #000;
	text-align: center;
}

footer a {
	color: #999;
}

footer a:hover {
	color: #efefef;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -63px;
}

.push {
	height: 63px;
}
/* not required for sticky footer; just pushes hero down a bit */
.wrapper>.container {
	padding-top: 60px;
	padding-bottom: 70px;
}

/* responsive footer fix by Aalaap Ghag */
@media ( max-width : 767px) {
	body {
		padding-right: 0px;
		padding-left: 0px;
	}
	footer,.wrapper {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.container {
	max-width: 940px;
}
/* end responsive footer fix */


/* form .required {
    font-weight: bold;
} */
form .required label.control-label:after {
    color: #e32;
    content: '*';
    display:inline;
}

td.nowrap {
	white-space: nowrap;
}

/**
 * Link de exclusão nas grids
 */
form.link-excluir {
	display: inline;
	margin: 0;
	padding: 0;
}
form.link-excluir button.btn {
	padding: 0;
	margin: -3px 0 0 0;
} 

/**
 * Validação de inputs
 */

label.valid {
	padding: 0;
  	margin-top: 0;
}

label.error {
  font-weight: bold;
  /* color: red; */
  color: #B94A48;
  padding: 0px 8px;
  /* margin-top: 2px; */
}

table td:first-child {
	width: 5%;
}
table td:last-child {
	width: 10%;
}
