<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	
	<display-name>vraptor-issuetracker</display-name>
	
	<!-- ******************************************************* -->
	<!-- Configuração do SiteMesh -->
	<!-- ******************************************************* -->
	
	<filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- ******************************************************* -->
	<!-- Configuracao do Open Session in View -->
	<!-- ******************************************************* -->
	
	<!-- Spring (Jpa Support) - OpenEntityManagerInViewFilter -->
	<filter>
		<filter-name>oemiv</filter-name>
		<filter-class>
			org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>oemiv</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- ******************************************************* -->
	<!-- Configuracao do VRaptor -->
	<!-- ******************************************************* -->
	
	<context-param>
		<param-name>br.com.caelum.vraptor.encoding</param-name>
		<param-value>UTF-8</param-value>
	</context-param>
	<!-- Define Locale padrão -->
	<context-param>
	    <param-name>javax.servlet.jsp.jstl.fmt.locale</param-name>
	    <param-value>pt_BR</param-value>
	</context-param>
	
	<filter>
		<filter-name>vraptor</filter-name>
		<filter-class>br.com.caelum.vraptor.VRaptor</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>vraptor</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>

	<!-- ******************************************************* -->
	<!-- Configuracao da Aplicação -->
	<!-- ******************************************************* -->
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
</web-app>